language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2

before_install:
  - if [[ ${TRAVIS_PHP_VERSION:0:3} == "5.6" ]]; then composer require --dev --no-update phpunit/phpunit 5.7.5; fi

install:
    - composer install

script: vendor/bin/phpunit --coverage-text

services:
    postgresql

before_script:
  - composer install
  - psql -c 'create database _unittest_' -U postgres

notifications:
  email:
    - github@crazedsanity.com
