<phpunit 
	bootstrap="tests/bootstrap.php"
	convertErrorsToExceptions="true"
	>
	<testsuites>
		<testsuite name="all">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory>./vendor</directory>
			<directory>./abstract</directory>
			<file>AutoLoader.class.php</file>
		</blacklist>
	</filter>
</phpunit>
